In [1]:
import io

import numpy as np
import pandas as pd
import plotly_express as px

In [2]:
# MASTER ONLY
import ast
# imports %%solution, %%submission, %%template
%load_ext prog_edu_assistant_tools.magics
from prog_edu_assistant_tools.magics import report, autotest

# Data frames 3 &mdash; Data manipulation

```
# ASSIGNMENT METADATA
assignment_id: "Dataframe3"
```

In this unit, we will get acquainted with a couple of simple techniques to change the data:

* Filter rows based on a condition
* Create new columns as a transformation of other columns
* Drop columns that are no longer needed

In [3]:
# Read the data from CSV file.
df = pd.read_csv('data/16-July-2019-Tokyo-hourly.csv')

In [4]:
df.head()

,Time_Hour,Temperature_degC,Precipitation_mm,WindDirection_16compasspoints,WindSpeed_m_s,SunshineDuration_h,Humidity_percent,Pressure_hPa
0,1,19.2,3.5,NE,1.8,NaN,100,1011.7
1,2,19.1,2.0,NNE,2.0,NaN,100,1011.6
2,3,19.1,6.0,NNE,2.2,NaN,100,1011.6
3,4,19.2,5.0,NNE,2.1,0.0,100,1011.9
4,5,19.2,1.0,NNE,1.9,0.0,100,1012.3

In [5]:
len(df)

24

Let's consider the question of how one should hold an umbrella when it rains.
Depending on the wind direction, one needs to know the wind direction when it rained.
First step is to limit the data to the hours when there was rain. To accomplish that,
we _filter_ the data set by using a condition. The condition is placed in square brackets
after the dataframe.

Technical details:
* The inner `df['Precipitation_mm']` extracts a single column as a pandas `Series` object.
* The comparison `df['Precipitation_mm'] > 0'` is evaluated as a vector expression, that computes
the condition element-wise, resulting in a `Series` object of the same length with boolean elements
(true or false).
* Finally, the indexing of a data frame by the boolean series performs the filtering of the rows
in the dataframe only to rows which had the corresponding element as `True`. Note that the original
data frame is left unmodified. Instead, a new copy of a data

In [6]:
df2 = df[df['Precipitation_mm'] > 0]
len(df2)

14

So it was 14 hours out of 24 in a day that the rain was falling. Let's see what the